<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/manage_student">View and Approve Student</a><br>
<a href="/view_approved_students">View Approved Student</a><br>
<a href="/add_teacher">Add Teachers</a><br>
<a href="/teacher_manage">View Teachers</a><br>
<a href="/hod_manage">View HOD request</a><br>
<a href="/add_department">Add Department</a><br>
<a href="/view_dept">View Department</a><br>
<a href="/add_course">Add Course</a><br>
<a href="/viewcourse">View Course</a><br>
<a href="/add_subject">Add Subject</a><br>
<a href="/view_subject">View Subject</a><br>
<a href="/add_tt">Manage Timetable</a><br>
<a href="/view_timetable">View Timetable</a><br>
<a href="/staff_attendence">View Teachers Attendence</a><br>
<a href="/std_attendence">View Student Attendence</a><br>
<a href="/View_Internals">View Internal Mark Details</a><br>
<a href="/feedback">Feedbacks</a><br>
<a href="/add_notification">Send Notification</a><br>
</body>
</html>