{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'index.html' %}
{% block body %}

<body><form action="" method="get">
<table width="200" border="1">
  <tr>
    <td><input type="text" name="textfield" id="textfield" /></td>
    <td><input type="submit" name="button" id="button" value="Search" /></td>
  </tr>
</table>
<table width="200" border="1">
  <tr>
      <th>Sl_No</th>
    <th scope="col">Std_id</th>
    <th scope="col">Sub_id</th>
    <th scope="col">Test_mark</th>
    <th scope="col">Seminar_mark</th>
    <th scope="col">Assignment_mark</th>
    <th scope="col">Attendence</th>
    <th scope="col">total</th>
    <th scope="col">grade</th>
  </tr>
    {% for i in data %}
  <tr>
      <td>{{ loop.index }}</td>
    <td>&nbsp;{{ i['std_id'] }}</td>
    <td>&nbsp;{{ i['sub_id'] }}</td>
    <td>&nbsp;{{ i['test_mark'] }}</td>
    <td>&nbsp;{{ i['semi_mark'] }}</td>
    <td>&nbsp;{{ i['assignt_mark'] }}</td>
      <td>&nbsp;{{ i['att_mrk'] }}</td>
    <td>&nbsp;{{ i['total'] }}</td>
    <td>&nbsp;{{ i['grade'] }}</td>

  </tr>
    {% endfor %}
</table>

</form>
</body>
{% endblock %}
{#</html>#}
