{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}

{% extends 'index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/add_notification_post"><table width="200" border="1">
  <tr>
    <td>
      <input type="text" name="textarea" id="textarea" cols="45" rows="5"></input>
    </td>
  </tr>
  <tr>
    <td>
      <button type="submit" name="button" id="button" value="Send" />
    </td>
  </tr>
</table>
    <br><br><br>
    <a href="/view_notification">View Notification</a><br>
</form>
{% endblock %}
{#</body>#}
{#</html>#}
