{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}

{% extends 'index.html' %}
{% block body %}

<form action="" method="get">
<table width="200" border="1">
  <tr>
    <td><input type="text" name="textfield" id="textfield" /></td>
    <td><input type="submit" name="button" id="button" value="Search" /></td>
  </tr>
</table>
<table width="200" border="1">
  <tr>
      <th> Sl_No </th>
    <th scope="col">Date</th>
    <th scope="col">Std_id</th>
    <th scope="col">Status</th>
  </tr>
    {% for i in data %}
  <tr>
      <td>{{ loop.index }}</td>
    <td>&nbsp;{{ i['date']}}</td>
    <td>&nbsp;{{ i['std_id'] }}</td>
    <td>&nbsp;{{ i['status'] }}</td>
  </tr>
    {% endfor %}
</table>

</form>
{% endblock %}
{#</body>#}
{#</html>#}
