{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}

{% extends 'index.html' %}
{% block body %}

<form id="form1" name="form1" method="get" action="">
  <table width="auto" border="1">
    <tr>
      <td><input type="text" name="textfield" id="textfield" /></td>
      <td><input type="submit" name="button" id="button" value="Search" /></td>
    </tr>
  </table><table width="auto" border="1">
  <tr>
    <th scope="col">Sl_No</th>
    <th scope="col">Department</th>
    <th scope="col">&nbsp;</th>
  </tr>
      {% for i in data %}
  <tr>
    <td>&nbsp;{{ loop.index }}</td>
    <td>&nbsp;{{ i['dept_name'] }}</td>
    <td><a href="#">Edit</a>
    <br /><a href="/delete_department/{{ i['dept_name'] }}">Delete</a></td>
  </tr>
      {% endfor %}
</table>
&nbsp;</p>
</form>
{% endblock %}
{#</body>#}
{#</html>#}
